# NetBeans-specific build directories
build/
nbbuild/
nbproject/private/
nbproject/ant/
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml

# Compiled NetBeans module files
*.nbm
*.nbz
*.nbd
